<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Your favorite cities</h1>
    <img src="images/happyAdventure.jpg" width="450" class="travelImg"><br>
        <h2>Your most recent favorite!</h2>
        <div class="weatherReport">
          <h2><%- city %></h2>
            <p><strong><%- time %></strong></p>
            <p><%- temperature %></p>
            <p><%- feelsLike %></p>
            <p><%- condition %></p>
            <%- cityWeatherImg %>
        </div>
        <h2>Your other favorites!</h2>
        <div>
            <%- otherFavorites %>
        </div>
        <br><br>
        <form action = "/addFavorite" method="POST"></form>
        <div class="inputStuff">
        Add a new favorite: 
        <input type="text" id="newFavorite">
        <button type="submit">Submit</button> 
        </div>
        </form>
        <br>
        <a href="/" class="linkButton"> &#9992 &nbsp <u>Back to travel page</u> &nbsp  &#9992 </a>
</body>
</html>